header {
  padding: 10px;
  background-color: navy;
  position: sticky;
  width: 100vw;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
}
header a {
  color: white;
}
main{
    padding: 10px;
    box-sizing: border-box;
}
.hero {
  width: 100%;
  background-image:
    linear-gradient(rgba(36, 36, 126, 0.5) 0%, rgba(53, 48, 48, 0.5) 100%),
    url(https://picsum.photos/id/1/1900/600);
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homegrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  box-sizing: border-box;
}
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  font-family: sans-serif;
  margin-top: auto;
  margin-top: auto;
  min-height: 20vh;
  width: 100vw;
  background-color: rgb(32, 38, 62);
  box-sizing: border-box;
  padding: 0 15vw;
  padding-top: 5vh;
  color: white;
}
.cards{
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}